body {
  background-image: url("../images/wp.jpg");
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: normal;
  /* same as above */
  font: 400 15px Arial, Helvetica, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: auto;
}

a {
  text-decoration: none;
  color: #999;
}

.button {
  background-color: black;
  color: #fff;
  padding: 6px 12px;
  border: none;
}
.my-form input[type="text"] {
  padding: 4px 12px;
  width: 60%;
  margin: auto;
}

.my-form-2 input[type="email"] {
  padding: 6px 12px;
  background-color: #333;
  border: 1px white solid;
  width: 50px;
}

.my-form-2 input[type="submit"] {
  padding: 6px 12px;
  background-color: #4285f4;
  border: 1px red solid;
  margin: 6px;
  padding: 5px 12px;
  color: #fff;
  font-size: 16px;
}
a:hover {
  color: black;
}

.btn {
  border: ;
  background-color: #aa66cc;
  padding: 7px 14px;
  margin: 6px;
  color: #fff;
  border-radius: 5px;
}

.button:hover {
  background: red;
}

.btn:hover {
  background: red;
}
header {
  background-color: #fff;
  border-right: 1px transparent solid;
  border-top: 1px transparent solid;
  border-bottom: 1px transparent solid;
  border-left: 1px transparent solid;
  border-radius: 5px;
  padding: 20px;
  margin-top: 20px;
  line-height: 1;
  box-shadow: black;
}

header #branding h1 {
  color: green;
  text-align: center !important;
  line-height: 1;
}

header p,
header form {
  text-align: center;
}

#showcase {
  min-height: 250px;
  background: url("../images/keyboard.jpg") no-repeat 0px -200px;
  text-align: center;
  color: #1f1c1c;
  margin: 20px 0px 40px 0px;
}

#showcase h2 {
  padding: 55px 0px 10px 0px;
}

.box-3 {
  background-color: #ecf1ea;
  border-right: 1px transparent solid;
  border-top: 1px transparent solid;
  border-bottom: 1px transparent solid;
  border-left: 1px transparent solid;
  padding: 50px 20px 360px 20px;
  margin: 20px 0px 50px 0px;

  line-height: 1;
}
.box-3 h2 {
  text-align: center;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.box-3 p {
  text-align: center;
  width: 80%;
  margin: auto;
  color: #4f4f4f;
  padding-top: 40px;
}

.box-2 {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 20px;
  line-height: 1;
}

.green-cards {
  text-align: center;
  text-transform: capitalize;
  background-color: #ecf1ea;
  padding: 2px 0px;
}

.white-cards {
  text-align: center;
  text-transform: capitalize;
  background-color: #ffffff;
  padding: 2px 0px;
}

.box-2 p {
  padding: 0px 10px;
}

footer {
  background: #333;
  padding-top: 128px;
  padding-bottom: 128px;
}

.block {
  color: #fff;
  float: left;
  width: 33.3%;

  /* margin-left: ; */
  box-sizing: border-box;
}
footer p {
  color: #737373;
}

.block ul {
  list-style: none;
}

.block h3 {
  margin: 0px 0px 24px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #999;
}

.block p {
  margin: 0px 0px 16px;
}

.categories h3 {
  padding-left: 40px;
}

#follow {
  margin: 20px 0px 100px 0px;
}

.clear {
  clear: both;
}
.copyright {
  border-top: 1px #737373 solid;
  float: left;
  font-size: 18px;
  padding-top: 20px;
}
