*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --green: green;
  --white: #fff;
  --black: #000;
  --ltDark: #333;
  --blue: #4285f4;
  --purple: #aa66cc;
  --red: red;
  --radi: 5px;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  line-height: 1.4;
  background-image: url("../images/wp.jpg");
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5 {
  line-height: 1.1;
}

li {
  list-style: none;
}

.button {
  background-color: black;
  color: #fff;
  padding: 6px 12px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.button:focus,
input:focus {
  outline: none;
}

.button:active {
  background-color: green;
}

.container {
  padding: 20px;
  padding-bottom: 30px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  gap: 30px;
}

/* Header Section */
.branding {
  color: var(--green);
}

.strike {
  text-decoration: line-through double;
}

.head {
  /* text-align: center; */
  /* display: grid; */
  /* justify-items: center; */
  text-align: center;
  /* gap: 3px; */
  background-color: #fff;
  /* border-right: 1px transparent solid;
  border-top: 1px transparent solid;
  border-bottom: 1px transparent solid;
  border-left: 1px transparent solid; */
  border-radius: 5px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  /* margin-top: 20px; */
}

.form-tab input[type="search"] {
  padding: 5px 12px;
  margin: auto;
  width: 60%;
  border: 1px solid #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.head > * + * {
  margin-top: 5px;
}

/* Card Section */

.info-card {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.card {
  padding: 15px 10px;
  background: #fff;
  text-align: center;
}

.green-card {
  background: #ecf1ea !important;
}

/*  showcase section*/

.showcase {
  height: 250px;
  background: url("../images/keyboard.jpg") no-repeat 0px -200px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.inner-div {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  display: grid;
  padding: 0 15px;
  justify-items: center;
  align-content: center;
}

.inner-div > * + * {
  margin-top: 20px;
}

.btn {
  display: inline-block;
  background-color: #aa66cc;
  padding: 7px 14px;
  color: #fff;
  border-radius: 5px;
}

/* main page */
.main {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #4f4f4f;
  background-color: #ecf1ea;
  padding: 50px 20px;
  text-align: center;
  display: grid;
  min-height: 400px;
  gap: 20px;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.main p {
  max-width: 85ch;
  margin: 0 auto;
}

.progress {
  display: none;
}

.blog-posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.blog__post {
  border-radius: 5px;
  color: #4f4f4f;
  /* box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); */
  background: rgba(255, 255, 255, 0.5);
}

/* Footer section */
.footer {
  background: #333;
  padding: 0 10px;
  padding-top: 20px;
}

.footer .container {
  padding-bottom: 20px;
}

.block h3 {
  color: #999;
}

.block p {
  color: #737373;
}

.news__category {
  color: #737373;
}

.hold {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.block > * + * {
  margin-top: 10px;
}

.news__category:hover {
  color: #fff;
}

.my-form-2 input[type="email"] {
  padding: 6px 12px;
  background-color: #333;
  border: 1px white solid;
  /* width: 50%; */
  color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: inherit;
}

.my-form-2 input[type="submit"] {
  background-color: #4285f4;
  border: 1px red solid;
  padding: 6px 12px;
  font-size: inherit;
  /* padding-top: 5px; */
  color: #fff;
  /* font-size: 14px; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.my-form-2 input[type="submit"]:active {
  background: black;
  color: #fff;
  border-color: black;
}

.block h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.copyright {
  border-top: 1px #737373 solid;
  float: left;
  font-size: 18px;
  padding-top: 20px;
  width: 100%;
}

.follow_link {
  display: flex;
  gap: 20px;
  align-items: center;
}

.follow {
  width: 30px;
  transition: transform 250ms ease-in;
}

.follow:hover {
  transform: translateY(-2px);
}

.copyright p {
  color: #737373;
  text-align: center;
}

.gh-link {
  color: #fff;
}

.my-form-2 input[type="email"] {
  margin-bottom: 10px;
}

.gh-link:hover {
  text-decoration: underline wavy;
}

@media screen and (min-width: 698px) {
  .hold {
    grid-template-columns: repeat(3, 1fr);
  }

  .categories {
    justify-self: center;
  }
}

@media screen and (min-width: 1162px) {
  .my-form-2 input[type="email"] {
    margin-bottom: 0;
  }
}
/* for media queries
.footer .container {
    gap: 0;
*/
